<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 34px 0px 638px 38px;padding: 0px;border: none;width: 778px;height: 384px;}
#page_1 #id_1 {float:left;border:none;margin: 95px 0px 0px 1px;padding: 0px;border:none;width: 252px;overflow: hidden;}
#page_1 #id_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 525px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:14px;left:0px;z-index:-1;width:230px;height:370px;}
#page_1 #dimg1 #img1 {width:230px;height:370px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 15px 'Arial';line-height: 22px;}
.ft1{font: 16px 'Arial';line-height: 18px;}
.ft2{font: 20px 'Times New Roman';color: #6d6e71;line-height: 22px;}
.ft3{font: 13px 'Arial';line-height: 16px;}
.ft4{font: 14px 'Arial';color: #6d6e71;line-height: 16px;}
.ft5{font: 32px 'Arial';color: #6d6e71;line-height: 36px;}
.ft6{font: 19px 'Arial';color: #6d6e71;line-height: 22px;}
.ft7{font: 15px 'Arial';line-height: 20px;}
.ft8{font: 16px 'Arial';color: #6d6e71;line-height: 18px;}

.p0{text-align: left;padding-right: 87px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 24px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 16px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 4px;margin-top: 23px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 4px;margin-top: 5px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 4px;margin-top: 16px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 4px;margin-top: 6px;margin-bottom: 0px;}
.p10{text-align: justify;padding-left: 4px;padding-right: 409px;margin-top: 34px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 4px;margin-top: 3px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 4px;margin-top: 39px;margin-bottom: 0px;}




</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<DIV id="dimg1">
<IMG src="TLP%20Tax%20Receipt%20Template%20_images/TLP%20Tax%20Receipt%20Template%201x1.jpg" id="img1">
</DIV>


<DIV class="dclr"></DIV>
<DIV>
<DIV id="id_1">
<P class="p0 ft0">2668West 6th Ave Vancouver,BC V6K 1W7 www.thelipstickproject.ca</P>
<P class="p1 ft1">Issued inVancouver,BC</P>
<P class="p2 ft1">80078 3979 RR0001</P>
<P class="p3 ft3">_____________________<SPAN class="ft2">Leigh Boyle</SPAN></P>
<P class="p4 ft4">Leigh Boyle,Exectuve Director</P>
</DIV>
<DIV id="id_2">
<P class="p5 ft5">OfficialTax Receipt</P>
<P class="p1 ft6">for income tax purposes</P>
<P class="p6 ft1">Gift date:</P>
<P class="p7 ft1">Gift amount: <%= @donation.amount %></P>
<P class="p8 ft1">Donor name: <%= @donation.user.last_name %>, <%= @donation.user.first_name %></P>
<P class="p9 ft1">Donor address: </P>
<P class="p10 ft7">Amount eligible for tax purposes: Advantage:</P>
<P class="p11 ft1">Date issued:</P>
<P class="p12 ft8">Canada Revenue Agency - <NOBR>www.cra-arc.gc.ca/chrts-gvng/</NOBR></P>
</DIV>
</DIV>
</DIV>
</BODY>
</HTML>
