<div class="container">
	 <%= image_tag "MonthlyThankYou.jpg" %>
	<p>You did it! Thank you for joining our Inspiring Care Unit. Your monthly gift will make people the best version of themselves on days when they need their inner strength the most. With your help our volunteers will continue to bring joy and comfort with manis, massages and beard trims.</p>

	<p>We are deeply grateful for your partnership and compassion. </p>

	<p>We'll keep you in the loop on all things TLP, but in the mean time if you have any questions or if you would like make any changes to your gift, you can reach us anytime at info@thelipstickproject.ca or 604.910.4903. </p>

	<p>With gratitude, </p>

	<p>Leigh Boyle</p>

	<p>P.S. A consolidated tax receipt will be emailed to you early in the new year. </p>
</div>