<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi <%= @user.first_name %></h2>
    <p>
      Thank you for your donation of $<%= @donation.amount %> CAD to <a href="http://www.thelipstickproject.ca/">The Lipstick Project</a>. You will find a tax receipt attached to this email. 
    </p>
  </body>
</html>