body {
	margin: 50px;
	font-family: "Lato";
}

.header {
	padding: 40px;
	text-align: center;
}

.first_form_view {
	margin-bottom: 100px;
}
.donation-amount {
	background-color: #abdcd6;
	color: white;
	font-size: 1.5rem;
}
.sub-initial {
	background-color: #ff0029;
	color: white;
}

.donation-box::after{
	position:absolute;
	right: 2px;
}

#payment-submit-button{
	background-color: #ff0029;
	color: white;
}